@{
    ViewBag.Title = "Dashboard";
}

@model IEnumerable<LocationCellAPI.Models.LocationSensor>

<head>
    <meta http-equiv="refresh" content="5">
</head>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="jumbotron ">
            <h1>LocationCELL</h1>
            <p class="lead">Seja bem vindo ao LocationCELL. </p>
            <p class="lead">Portal desenvolvido para visualizar a localização do seu celular.</p>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">

    <div class="col-md-12">
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>País</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Bairro</th>
                <th>Rua</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Luminosidade</th>
                <th>Temperatura</th>
                <th>Umidade</th>
                <th>Proximidade</th>
            </tr>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Pais</td>
                    <td>@d.Estado</td>
                    <td>@d.Cidade</td>
                    <td>@d.Bairro</td>
                    <td>@d.Rua</td>
                    <td>@d.Latitude</td>
                    <td>@d.Longitude</td>
                    <td>@d.Luminosidade</td>
                    <td>@d.Temperatura</td>
                    <td>@d.Umidade</td>
                    <td>@d.Proximidade</td>
                </tr>
            }
        </table>
    </div>
</div>
